<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <% res.redirect("/") %>
<% } %>

<% if (typeof messages === "function") { %>
  <section class="flash-messages">
    <%- messages() %>
  </section>
<% } %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(err => { %>
      <li><%= err.msg %></li>
    <% }) %>
  </ul>
<% } %>

<section class="account-form-wrapper">
  <p>Use this form to update a vehicle in the inventory.<br>
    <i>All fields are required.</i></p>

    <form action="/inv/editInventory" method="post" class="account-form" id="updateForm">
      <fieldset>

      <input type="hidden" name="inv_id" value="<%= locals.inv_id %>">

      <label for="classificationList">Classification</label>
      <%- classificationSelect %>

        <label for="invMake">Make</label>
        <input type="text" name="inv_make" id="invMake" required minlength="3" value="<%= locals.inv_make || '' %>"
          placeholder="e.g., Toyota">

        <label for="invModel">Model</label>
        <input type="text" name="inv_model" id="invModel" required minlength="3" value="<%= locals.inv_model || '' %>"
          placeholder="e.g., Camry">

        <label for="invDescription">Description</label>
        <textarea id="invDescription" name="inv_description" rows="4" required
          placeholder="Briefly describe the vehicle"><%= locals.inv_description || '' %></textarea>

        <label for="invImage">Image Path</label>
        <input type="text" name="inv_image" id="invImage" required size="30"
          value="<%= locals.inv_image || '/images/vehicles/no-image.png' %>">

        <label for="invThumbnail">Thumbnail Path</label>
        <input type="text" name="inv_thumbnail" id="invThumbnail" required size="30"
          value="<%= locals.inv_thumbnail || '/images/vehicles/no-image-tn.png' %>">

        <label for="invPrice">Price</label>
        <input type="number" name="inv_price" id="invPrice" required min="1" value="<%= locals.inv_price || '' %>"
          placeholder="Numbers only">

        <label for="invYear">Year</label>
        <input type="number" name="inv_year" id="invYear" required min="1900" max="2099"
          value="<%= locals.inv_year || '' %>" placeholder="4-digit year">

        <label for="invMiles">Miles</label>
        <input type="number" name="inv_miles" id="invMiles" required min="0" value="<%= locals.inv_miles || '' %>"
          placeholder="Whole number only">

        <label for="invColor">Color</label>
        <input type="text" name="inv_color" id="invColor" required value="<%= locals.inv_color || '' %>"
          placeholder="e.g., Blue">

          <button type="submit" disabled>Update Vehicle</button>

        </fieldset>
  </form>
</section>

<script src="/js/inv-update.js"></script>